.customteam-container {
    position: absolute;
    width: 180px;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 0px;
    left: 528px;
    padding: 0px 0px 10px 0px;
    background-color: #3b66aa;
}
  .customteam-container-main {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
    padding: 0px 0px 10px 0px;
  }
  
  .customteam-container-main-link1 {
    width: 100%;
    height: 35px;
    /* border: 1px solid blue; */
    /* background-color: antiquewhite; */
    text-decoration: none;
    color: black;
    font-size: 16px;
    opacity: 0.7;
  }
  /* div.customteam-container-main-link1:hover{
      background-color: aqua;
  } */
  
  .customteam-container-main-text1 {
    width: 100%;
    height: 100%;
    /* background-color:brown; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .customteam-container-main-hr {
  /* border:.2px solid mediumspringgreen; */
    width: 99.5%;
    margin: 1px 0px 0px 0px;
    margin: auto;
  
  }
  div.customteam-container-main-text1:hover {
    background-color: #0765fd;
    color: white;
    /* background-image: linear-gradient(to left,cyan, rgb(34, 78, 191)); */
  }
  
  